* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.mainContent {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
}

body {
  background-color: #F0EBD8;
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}