.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1s;
  animation-delay: 2s;
  margin-top: 10px;
  padding-bottom: 16px;
  padding-top: 16px;
}

@media (min-width: 640px) {
  .container {
    padding-top: 15px;
    padding-bottom: 32px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .container {
    padding-top: 48px;
  }
}

.image-wrapper {
  margin-top: 2rem;
  width: 50%;
}

@media (min-width: 640px) {
  .image-wrapper {
    margin-top: 0;
    width: auto;
  }
}

.title {
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 1rem;
}

@media (min-width: 640px) {
  .title {
    font-size: 4rem;
  }
}

.description {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media (min-width: 640px) {
  .description {
    font-size: 2rem;
  }
}

.highlight {
  font-weight: bold;
  color: #38b2ac;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bounce 1s infinite;
  color: #38b2ac;
  margin-right: 20rem;
}

@keyframes arrowBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.arrow {
  animation-name: arrowBounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

